Flask==3.0.3
flask-cors==4.0.1
pandas==2.2.2
openai==1.51.2
transformers==4.57.1
sentence-transformers
tokenizers==0.22.1
toml==0.10.2
torch==2.9.1
tornado==6.5.2
dotenv
PyMySQL
sqlalchemy
httpx==0.27.2